/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | ESC  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | GRAVE|
            //                    | ALT | CMD | SPC |   | ENT | LWR  | CTRL|

            bindings = <
                &kp TAB     &kp Q  &kp W  &kp E         &kp R             &kp T        &kp Y    &kp U  &kp I         &kp O    &kp P     &kp BSPC
                &kp ESCAPE  &kp A  &kp S  &kp D         &kp F             &kp G        &kp H    &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
                &kp LSHFT   &kp Z  &kp X  &kp C         &kp V             &kp B        &kp N    &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp GRAVE
                                          &kp LEFT_ALT  &kp LEFT_COMMAND  &kp SPACE    &kp RET  &mo 1  &kp LEFT_CONTROL
            >;
        };

        special_chars {
            // -----------------------------------------------------------------------------------------
            // | TRANS|TRANS|TRANS|TRANS|TRANS|TRANS|   |  \  |  [  |  ]  |  -  |  =  |TRANS |
            // | MO 2 |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |TRANS |
            // |TRANS |TRANS|TRANS|TRANS|TRANS|TRANS|   |TRANS| PGDN| PGUP|TRANS|TRANS|TRANS |
            //                    |TRANS|TRANS|TRANS|   |TRANS|TRANS|TRANS|

            bindings = <
                &trans  &trans        &trans        &trans        &trans        &trans          &kp BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS     &kp EQUAL     &trans
                &mo 2   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7      &kp NUMBER_8       &kp NUMBER_9  &kp NUMBER_0  &trans
                &trans  &trans        &trans        &trans        &trans        &trans          &trans         &kp PAGE_DOWN     &kp PAGE_UP        &trans        &trans        &trans
                                                    &trans        &trans        &trans          &trans         &trans            &trans
            >;
        };

        functions {
            // -----------------------------------------------------------------------------------------
            // |TRANS| F6  | F7  | F8  | F9  | F10 |   | F11 | F12 |TRANS|TRANS|RIGHT|TRANS |
            // |TRANS| F1  | F2  | F3  | F4  | F5  |   |TRANS|LEFT |TRANS|TRANS|TRANS|TRANS |
            // |TRANS|TRANS|TRANS|DOWN | UP  |TRANS|   |TRANS|BT_PRV|BT_NXT|BT_CLR|RESET|TRANS|
            //                    |TRANS|TRANS|TRANS|   |TRANS|TRANS|TRANS|

            bindings = <
                &trans  &kp F6  &kp F7  &kp F8          &kp F9        &kp F10    &kp F11  &kp F12      &trans      &trans      &kp RIGHT   &trans
                &trans  &kp F1  &kp F2  &kp F3          &kp F4        &kp F5     &trans   &kp LEFT     &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &kp DOWN_ARROW  &kp UP_ARROW  &trans     &trans   &bt BT_PRV   &bt BT_NXT  &bt BT_CLR  &sys_reset  &trans
                                        &trans          &trans        &trans     &trans   &trans       &trans
            >;
        };
    };
};
